{% load static %}
{% include 'recyclerheader.html' %}

<div class="container mt-4">
    <h4 class="text-primary">User Feedback</h4>
    {% if feedback_data %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Date </th>
                        <th>Name</th>
                        <th>Message</th>
                       
                    </tr>
                </thead>
                <tbody>
                    {% for feedback in feedback_data %}
                        <tr>
                            <td>{{ feedback.created_at|date:"d M Y" }}</td>
                            <td>{{ feedback.name }}</td>
                            <td>{{ feedback.message }}</td>
                           
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-muted">No feedback submitted yet.</p>
    {% endif %}
</div>

{% include 'recyclerfooter.html' %}
